@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 263.33 69.23% 5.1%;

    --primary: 263.39 69.96% 50.39%;
    --primary-foreground: 261.18 68% 95.1%;

    --card: 266.67 69.23% 97.45%;
    --card-foreground: 263.33 69.23% 5.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 263.33 69.23% 5.1%;

    --secondary: 263.08 68.42% 92.55%;
    --secondary-foreground: 0 0% 0%;

    --muted: 261.18 68% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 261.18 68% 95.1%;
    --accent-foreground: 262.22 69.23% 7.65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 264 68.63% 90%;
    --input: 264.55 22.92% 81.18%;
    --ring: 263.39 69.96% 50.39%;

    --chart-1: 263.39 69.96% 50.39%;
    --chart-2: 263.44 70.23% 57.84%;
    --chart-3: 263.48 69.7% 67.65%;
    --chart-4: 263.51 69.78% 72.75%;
    --chart-5: 263.25 70.18% 77.65%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 263.08 68.42% 92.55%;

    --primary: 263.39 69.96% 50.39%;
    --primary-foreground: 261.18 68% 95.1%;

    --card: 265.71 24.14% 5.69%;
    --card-foreground: 263.08 68.42% 92.55%;

    --popover: 0 0% 0%;
    --popover-foreground: 263.08 68.42% 92.55%;

    --secondary: 263.23 68.89% 17.65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 263.23 68.89% 17.65%;
    --accent-foreground: 263.08 68.42% 92.55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 264 68.63% 10%;
    --input: 263.33 17.65% 20%;
    --ring: 263.39 69.96% 50.39%;

    --chart-1: 263.39 69.96% 50.39%;
    --chart-2: 263.6 68.81% 42.75%;
    --chart-3: 263.48 68.86% 32.75%;
    --chart-4: 263.51 68.79% 27.65%;
    --chart-5: 263.25 68.97% 22.75%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
